<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="/stylesheets/user_style.css" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
    integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>

<title>User Details</title>

<br><br><br>
<div class="imprintcontainer">
  <h1>Imprint and Privacy Statement</h1>
  <br>
  <h2>IMPRINT</h2>
  <p>Book Circle is a project of the Ironhack Web Development Part Time class 2019.</p>
  <p>The project was created by:</p>
  <p> Steph Gidde</p>
  <p> Sarah Dröse</p>
  <p> Axel Heinz</p>
  <br>
  <h2>Privacy Statement</h2>
  <p>Privacy of user data is extremely important to us.</p>

</div>