<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css" />

  <link rel="stylesheet" href="/stylesheets/user_style.css" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>

<title>User Details</title>

<nav class="navbar">
  <div class="navbar-header">
    <a class="navbar-brand" href="/dashboard">Book Circle</a>
  </div>
  <ul class="nav navbar-right">
    <li class="nav-item"><a class="nav-link" href="/imprint">About</a></li>
    <li class="nav-item"><a class="nav-link" href="#form">Sign Up</a></li>
    <li class="nav-item"><a class="nav-link" href="/signin">Sign In</a></li>

  </ul>
</nav>

<br><br><br>
<div class="imprintcontainer">
  <h1>Imprint and Privacy Statement</h1>
  <br>
  <h2>Imprint</h2>
  <p>Book Circle is a project of the Ironhack Web Development Part Time class 2019.</p>
  <p>The project was created by:</p>
  <div class="imprint-team">
    <ul style="list-style-type: none">
      <li> Steph Gidde</li>
      <li> Sarah Dröse</li>
      <li> Axel Heinz</li>
    </ul>
  </div>
  <br>
  <h2>Privacy Statement</h2>
  <p>Privacy of user data is extremely important to us.</p>

</div>