<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">



</head>

<body>
	{{!-- navigation bar --}}
	<nav class="navbar navbar-expand-lg">
		<a class="navbar-brand" href="/:userid/dashboard">Book Circle</a>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="#">About</a>
			</li>
			<li class="nav-item">
				<a class="btn " href="#">Sign Up</a>
			</li>
			<li class="nav-item">
				<a class="btn" href="#">Sign In</a>
			</li>
		</ul>
	</nav>

	{{!-- header --}}
	<header class='header'>
		<div id=intro>
			<h1>Share the books you love <span class="glyphicon glyphicon-heart"></span></h1>
			<h2> Join the Book Circle manage your readings and explore which books your friends recommend!</h2>
		</div>
		<section class="flex-container">
			<div>Share</div>
			<div>Find</div>
			<div>Recommend</div>
		</section>
	</header>

	<div class="input-group">
		<span>Become A Member</span>
		<form id="form" action="/" method="POST">
			{{#if message}}
			<div>{{ message }}</div>
			{{/if}}
			<label for="user-email-address">Your email address</label><br>
			<input type="text" id="email" name="email" placeholder="Enter email address" class="form-control">

			<label for="password">Password</label><br>
			<input type="text" id="password" name="password" placeholder="Enter password" class="form-control">

			<button input type="submit"><i>Create account / Sign in</i></button>
		</form>

	</div>


	<br><br>

</body>