<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/stylesheets/style.css" />

	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	 crossorigin="anonymous">
</head>

<body>
	<nav class="navbar">
		<div class="navbar-header">
			<a class="navbar-brand" href="/dashboard">Book Circle</a>
		</div>
		<ul class="nav navbar-right">
			<li class="nav-item"><a class="nav-link" href="#">About</a></li>
			<li class="nav-item"><a class="nav-link" href="#form">Sign Up</a></li>




			{{!-- <li>

				<div class="form-row align-items-center">
					<div class="col-auto">
						<label class="sr-only" for="inlineFormInput">Name</label>
						<input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Jane Doe">
					</div>
					<div class="col-auto">
						<label class="sr-only" for="inlineFormInputGroup">Username</label>
					</div>

			</li> --}}






			<li class=" nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/signin" role="button">Sign In<span class="caret"></span></a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#">Page 1-1</a>
					<a class="dropdown-item" href="#">Page 1-2</a>
					<a class="dropdown-item" href="#">Page 1-3</a>
				</div>
			</li>
		</ul>
	</nav>
	{{!-- navigation bar --}}

	{{!-- header --}}
	<header class='header'>
		<div id="intro">
			<h1>Share the books you love <span class="glyphicon glyphicon-heart"></span></h1>
			<h2> Join the Book Circle manage your readings and explore which books your friends recommend!</h2>
		</div>
		<section class="flex-container">
			<div>Share</div>
			<div>Find</div>
			<div>Recommend</div>
		</section>
	</header>

	<div>
		<form id="form" action="/" method="POST" enctype="multipart/form-data">

			<p>Become A Member</p>
			<label for="user-email-address">Your email address</label><br>
			<input type="email" id="email" name="email" placeholder="Enter email" class="form-control">

			<label for="password">Password</label><br>
			<input type="password" id="password" name="password" placeholder="Enter password" class="form-control">

			<label for="firstname">First Name</label><br>
			<input type="text" id="firstname" name="firstname" placeholder="Enter firstname" class="form-control">

			<label for="lastname">Last Name</label><br>
			<input type="text" id="lastname" name="lastname" placeholder="Enter lastname" class="form-control">

			<label for="profilepicture">Upload a Picture</label><br>
			<input type="file" id="profilepicture" name="profilepicture" class="form-control">

			<button input type="submit" value="save">Create Account</button>

			{{#if message}}
			<div>{{ message }}</div>
			{{/if}}
		</form>
	</div>
	<br><br>
</body>

</html>