<button><a href="hjhjhj">Find Book</a></button>

<h2>My Books</h2>

{{#each users}}
<div class="mybooks">
  <div class="book">
    <div class="book cover"><img src="blablabla"></div>
    <h2> {{ this.favorites }}</h2>
  </div>
</div>
{{/each}}