<form action="/find-book" method="GET">
  <label for="">Find a book</label>
  <input id="form" type="text" name="book" id="">
  <button id="theButton" type="submit">SEARCH</button>
</form>



{{#each results}}
<ul>
  <li><b>{{this.title}}</b>b></li>
  <li>Written by: {{this.authors}}</li>
  <img src="{{this.thumbnail}}" alt={{this.title}}>
  <br><br>
</ul>
{{/each}}