<div class="search-container">
<form class=" form-control-lg" action="/find-book" method="GET">
  <label for="">Find a book</label><br>
<div class="input-group input-group-lg ">
<div class="input-group-prepend input-group-lg">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Title</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Author</a>
      <a class="dropdown-item" href="#">Genre</a>
    </div>
  <input class="form-control" id="form" type="text" name="book" placeholder="Harry Potter...">
  <button class="btn btn-outline-success btn-lg" type="submit">SEARCH</button>
  </div>
  </div>
</form>
</div>


<div class="results-container">
{{#each results}}
<ul>
  <li><b>{{this.title}}</b></li>
  <li>Written by: {{this.authors}}</li>
  <img src="{{this.thumbnail}}" alt={{this.title}}>
  <br><br>
</ul>
{{/each}}
</div>