@import url("https://fonts.googleapis.com/css?family=Homemade+Apple|Open+Sans+Condensed:300");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Condensed", sans-serif;
}

a {
  color: #3c3851 !important;
  font-size: 20px !important;
}

.dashboard-body {
  margin: 10px 25px 0px;
  padding: 10px;
  height: 100%;
  width: 100%;
  /* background-color: #d5d5d5; */
}

.glyphicon {
  margin: 0px 15px 0px 5px;
}

hr {
  border-color: #3c3851 !important;
  height: 1px;
  width: 95%;
}

#findbook-button,
#findfriend-button {
  background: #3c3851;
  border: 1px solid;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  padding: 8px 16px;
  text-decoration: none;
  transition: 0.3s ease background;
  width: 60%;
  margin: 5px 0px;
}

#findbook-button:hover,
#findfriend-button:hover {
  background: #fff;
  color: #3c3851;
  transition: 0.3s ease background;
}

#db-left-side {
  border: 1px solid grey;
  width: 18%;
  margin-right: 15px;
  float: left;
  padding: 10px;
  background-color: #96858f;
  color: white;
  border-radius: 3px;
}

#profilepicture img {
  margin: 10px 0px;
  border: 3px solid #3c3851;
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#profilepicturedefault img {
  margin: 10px 0px;
  border: 3px solid #3c3851;
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#db-left-side ul {
  list-style-type: none;
}

#db-middle {
  border-radius: 3px;
  text-align: center;
  width: 60%;
  float: left;
  height: 100%;
}

#db-middle h3 {
  font-size: 1.2rem;
}
#db-middle h4 {
  font-size: 0.8rem;
}

#middle-top {
  background-color: #d5d5d5;
  height: 90px;
}

#findbook-button {
  background: #3c3851;
  border: 1px solid;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  padding: 8px 16px;
  text-decoration: none;
  transition: 0.3s ease background;
  width: 30%;
  margin-top: 4%;
}

#findbook-button:hover {
  background: #fff;
  color: #3c3851;
  transition: 0.3s ease background;
}

.Reading-List {
  background-color: #d5d5d5;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 10px;
  font-size: 15px;
}

.Reading-List h3,
.Library-List h3 {
  text-transform: uppercase;
  text-align: left;
}

.heading {
  width: 100%;
  border-bottom: 1px solid grey;
  margin-bottom: 30px;
}

.glyphicon-heart {
  color: #784e70;
}
.glyphicon-bookmark {
  color: #3d8ea1;
}

.Library-List {
  background-color: #d5d5d5;
  padding: 10px;
}

.books-list {
  display: flex;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
}

.book-img {
  height: 100px;
  margin-bottom: 20px;
}

/* Edit Profile */
#form-edit-profile {
  width: 70%;
  text-align: right;
  vertical-align: top;
  margin-bottom: 20px;
  padding: 20px;
}

#form-edit-profile textarea {
  vertical-align: top;
}

#form-edit-profile label {
  vertical-align: top;
  font-size: 20px;
  color: #3c3851;
  display: inline;
  text-align: center;
  padding: 20px;
}

#db-right-side {
  border: 1px solid grey;
  text-align: right;
  margin-left: 15px;
  width: 18%;
  float: left;
  padding: 10px;
  background-color: #96858f;
  color: white;
  border-radius: 3px;
}

#favorite-books {
  border: 1px solid grey;
  display: flex;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
  background-color: grey;
}

.book img {
  height: 150px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
}

#friends-activity {
  width: 100%;
  height: 100%;
}

#friends-activity h2 {
  text-align: center;
  margin: 0 auto;
}

.friend-info {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 100%;
}

.friend-info h4 {
  margin-top: 40px;
}

.friend-info img {
  border: 2px solid #3c3851;
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.friend-books {
  /* height: 100%; */
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
  align-content: flex-start;
}

.friend-book img {
  height: 100px;
  margin: 10px;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
}
