@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

/* Navigation Bar */
.navbar {
  border-bottom: 2px solid #3C3851;
}

.navbar-brand {
  font-size: 40px !important;
  color: #3C3851 !important;
}

.navbar a {
  color: grey;
}

.navbar button {
  float: right;
}

/* layout find-book */
.search-container{
  display:flex;
  justify-content:center;
}
label{
  font-size:5rem;
  padding: 5% 25%;
  
}
#form{
  width: 35rem;
}

.results-container li{
  display:flex;
  justify-content: center;
  height: 250px;
}
.results-container li div{
  height: 130px;
  width:120px;
}

.book-detail p{
  /* padding-bottom: 3px; */
}
