@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Condensed", sans-serif;
}

/* Navigation Bar */
.navbar {
  /* border-bottom: 2px solid #3C3851; */
  background-color: #3c3851 !important;
  color: white !important;
}

.navbar-brand {
  font-size: 40px !important;
  color: white;
  /* color: #3C3851 !important; */
}

.navbar a {
  color: white !important;
}

.navbar button {
  float: right;
}

/* layout find-book */
.search-container {
  display: flex;
  justify-content: center;
}

title {
  font-size: 5rem;
  padding: 5% 25%;
}

#form {
  width: 35rem;
}

#userpicture img {
  margin: 10px 0px;
  border: 3px solid #3c3851;
  display: inline-block;
  width: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#results {
  font-size: 2rem;
  margin-left: 25%;
  margin-top: 3%;
  display: none;
}

.results-container {
  display: grid;
  margin-bottom: 5rem;
  grid-gap: 0.1rem;
  padding: 0.1rem;
  grid-template-columns: 10rem 30rem 10rem;
  grid-auto-rows: auto;
  margin-left: 23%;
  width: 52rem;
}

.results-container-user {
  display: grid;
  margin-bottom: 2rem;
  grid-gap: 0.1rem;
  padding: 0.1rem;
  grid-template-columns: 10rem 30rem 10rem;
  grid-auto-rows: auto;
  margin-left: 23%;
  width: 52rem;
}

.results-user-book-title {
  text-align: center;
  margin-top: 1rem;
}

.results-container > div {
  text-align: center;
}

.results-description {
    text-align: left;
    font-size: 16px;
}


.results-description:hover {
  overflow: visible;
}




.result-title {
  font-size: 23px;
  padding-top: 2rem;
}

.result-subtitle {
  font-size: 20px;
}

.result-authors {
  font-size: 20px;
}

.result-categories {
  font-size: 20px;
}

.book-details {
  margin-top: 60%;
  font-size: 20px !important;
}

.button-action .btn {
  margin: 10%;
  font-size: 20px;
  width: 100px;
  height: 50px;
}

.glyphicon-heart {
  color: #d11aa8;
  font-size: 20px;
}

.glyphicon-star {
  color: rgb(187, 175, 6);
  font-size: 20px;
}

.glyphicon-bookmark {
  color: #134716;
  font-size: 20px;
}
.glyphicon:hover {
  color: white;
}
.result-break {
  width: 52rem;
  margin-left: 25%;
}

/* layout book-detail */

.details {
  display: flex;
  justify-content: center;
  font-size: 4rem;
}
.details-container {
  display: grid;
  margin-bottom: 2rem;
  margin-right: 6rem;
  grid-gap: 0.1rem;
  padding: 0.1rem;
  grid-template-columns: 20rem 40rem;
  grid-template-rows: 5rem auto 5rem;
  margin-left: 15%;
  width: 52rem;
}
.item1 {
  grid-column-end: span 2;
  font-size: 2rem;
  text-align: left;
}
.item2 {
  width: 10rem;
  /* height: 20rem; */
}
.item4 {
  grid-column-start: 1;
}
.item4 .btn {
  margin: 2%;
  width: auto;
  height: 40px;
}

.imprintcontainer {
  text-align: left;
  font-size: 14px;
  margin: 0px 0px 0px 40px;
}
